<a href="https://colab.research.google.com/gist/samidha-sudhi/c052eb821a0708271a93966604a96489/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Phython Basics


## Operators

In [ ]:
b=10
b*=2
print (b)

20

## Variables and Data Types

Variables are used to store the information that can be referenced and transformed in a program. Python supports various data types such as Integer, Float, String and Boolean,

In [ ]:
#Integer Variable
age = 50
print(f'Age: {age} (Type: {type(age)})')

#Float Variable
height = 6.75
print(f'Height: {height} (Type: {type(height)})')

#String Variable
string = "Well Done!"
print(f'String: {string} (Type: {type(string)})')

#Boolean Vraiable
is_student = True
print(f'Is student: {is_student} (Type: {type(is_student)})')

Age: 50 (Type: <class 'int'>)
Height: 6.75 (Type: <class 'float'>)
String: Well Done! (Type: <class 'str'>)
Is student: True (Type: <class 'bool'>)

In [ ]:
#String variable
text = "All is Well!"
print(f'Text: {text} (Type: {type(text)})')

text = 'All is Well!'
print(f'Text: {text} (Type: {type(string)})')

text = """All is well"""
print(f'Text: {text} (Type: {type(text)})')

print(text)

text = '''All is
        well'''
print(f'Text: {text} (Type: {type(text)})')

Text: All is Well! (Type: <class 'str'>)
Text: All is Well! (Type: <class 'str'>)
Text: All is well (Type: <class 'str'>)
All is well
Text: All is
        well (Type: <class 'str'>)

In [ ]:
text = "All
is Well!"
print(f'Text: {text} (Type: {type(string)})')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-23-005f0c105314>, line 1)

## Methods in Strings

Phython provides various methods to manipulate strings

In [ ]:
from types import resolve_bases
#String method examples
text = "All is not Well!"
print(text.lower())
print(text.upper())
print(text.replace("not","very"))
print(text.split(" "))

list_str = ['All', 'is', 'going','Well!']
print(' '.join(list_str))

glue = '-'
print(glue.join(list_str))

text1 = "let's learn python"
print(text1)

text2 = 'let\'s learn dance'
print(text2)


flower="Rose"
color="Red"
statement="Rose is Red"
print(statement)
statement1=f"{flower} is {color}"
print(statement1)

all is not well!
ALL IS NOT WELL!
All is very Well!
['All', 'is', 'not', 'Well!']
All is going Well!
All-is-going-Well!
let's learn python
let's learn dance
Rose is Red
Rose is Red

## Variable Types

In [ ]:
my_var = 1
print(my_var, type(my_var))
my_var = 1.23
print(my_var, type(my_var) )
my_var = True
print(my_var, type(my_var))
my_var = 'keep tyring'
print(my_var, type(my_var))

1 <class 'int'>
1.23 <class 'float'>
True <class 'bool'>
keep tyring <class 'str'>

## Arithmetic Operators

Arthimetic Operations are used to perform mathematical operations.

In [ ]:
a=10
b=5
print(f'Addition: {a}+{b}={a+b}')
print(f'Substraction: {a}-{b}={a-b}')
print(f'Multiplication: {a}*{b}={a*b}')
print(f'Division: {a}/{b}={a/b}')
print(f'Mod: {a}%{b}={a%b}')
print(f'Exponent: {a} ** {b} = {a ** b}')

Addition: 10+5=15
Substraction: 10-5=5
Multiplication: 10*5=50
Division: 10/5=2.0
Mod: 10%5=0
Exponent: 10 ** 5 = 100000

## Comparison Operators

Comparison Operators are used to compare values

In [ ]:
x=10
y=20
print(f'{x} == {y}: {x==y}')
print(f'{x} != {y}: {x != y}')
print(f'{x} > {y}: {x>y}')
print(f'{x} < {y}: {x<y}')
print(f'{x} >= {y}: {x>=y}')
print(f'{x} <= {y}: {x<=y}')

10 == 20: False
10 != 20: True
10 > 20: False
10 < 20: True
10 >= 20: False
10 <= 20: True

## Logical Operators

Logical Operators are used to combine conditional statements.

In [ ]:
p =  True
q = False
print (f'p and q: {p and q}')
print (f'p or q: {p or q}')
print (f' not p: {not p}')

p and q: False
p or q: True
 not p: False

# 2. Python Data Structures

This section covers various data structures in Python including lists, tuples, sets and dictionaries, common methods and operations for these data structures.

## Lists
Lists are ordered collection of items. Lists are mutable, meaning their contents can be changed. Here are some common methods and operations that can be performed on lists.

In [ ]:
# List example

fruits = ['apple', 'banana', 'cherry']

print (fruits)

# Append an item to the list
fruits.append('orange')
print(fruits)

# Remove an item from the list
fruits.remove('banana')
print(fruits)

#           0         1         2
fruits = ['apple', 'cherry', 'orange']
#          -3         -2        -1

# Accessing list elements
print(fruits[1]) #second item
print(fruits[-1]) #last item

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry', 'orange']
cherry
orange

## Slicing in Python

Slicing is used to access a range of elements in a list or string.

In [ ]:
#Slicing lists

numbers = [0,1,2,3,4,5,6,7,8,9]

print(numbers[2:5]) #Elelments from index 2 to 4
print(numbers[:3]) #Elements from index 0 to 2]
print(numbers[6:]) #Elements from index 6 to end
print(numbers[6:2:-1]) #Elements from 6 to 3; -1 denotes numbers from right to left

#Slicing strings

text = 'Hello World!'
#       123456789(10)(11)(12)

print(text[7:11]) #chars from 7 to 10
print(text[:5])
print(text[7:])
print(text[-6:])

[2, 3, 4]
[0, 1, 2]
[6, 7, 8, 9]
[6, 5, 4, 3]
orld
Hello
orld!
World!

## Joining and Splitting Lists

The join method is used to convert a list into string. The split method is used to split a string into a list.

In [ ]:
# Join a list into a string
words = ['Python', 'is', 'fun']
sentence = ' '.join(words)
print(sentence)

# Split a string into a list
text = 'Python is fun'
word_list = text.split(' ')
print(word_list)

Python is fun
['Python', 'is', 'fun']

## Tuples
Tuples are collection of items, similar to lists. However, tuples are immutable, meaning their contents cannot be changed.

In [ ]:
# Tuple examples
dimensions = (1920,1080)
print(dimensions)
print(dimensions[0])
print(dimensions[1])
print(dimensions[-1])
print(dimensions[-2])

# Tuples are immutable
dimensions[0] = 1990

(1920, 1080)
1920
1080
1080
1920

TypeError: 'tuple' object does not support item assignment

In [ ]:
lst = [1,9,2,8,7,5]
print(lst)
lst.sort()
print(lst)

[1, 9, 2, 8, 7, 5]
[1, 2, 5, 7, 8, 9]

In [ ]:
tpl = (1,9,2,8,7,5)
print(tpl)
tpl.sort()
print(tpl)

(1, 9, 2, 8, 7, 5)

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
lst = [1,2,7,9,4,5]
print(lst, type(lst))
print(len(lst))
tpl = tuple(lst)
print(tpl, type(tpl))
print(len(tpl))
my_str = 'This is Python'
print(my_str, type(my_str))
print(len(my_str))

[1, 2, 7, 9, 4, 5] <class 'list'>
6
(1, 2, 7, 9, 4, 5) <class 'tuple'>
6
This is Python <class 'str'>
14

In [ ]:
for some_var in lst:
  print(some_var)

1
2
7
9
4
5

In [ ]:
for some_var in my_str:
   print (some_var)

T
h
i
s

i
s

P
y
t
h
o
n

In [ ]:
fruits = {'apple','banana','orange'}
print(fruits)
print(len(fruits))
for some_var in fruits:
  print(some_var)

{'banana', 'apple', 'orange'}
3
banana
apple
orange

##Sets
Sets are unordered collection of unique items. They are mutable and allow for efficient membership testing.

In [ ]:
fruits = {'apple', 'banana', 'cherry'}
print (fruits)

fruits.add('orange')
print(fruits)

fruits.remove('banana')
print(fruits)

fruits.update(['grapes','papaya'])
print(fruits)

{'cherry', 'apple', 'banana'}
{'cherry', 'apple', 'banana', 'orange'}
{'cherry', 'apple', 'orange'}
{'grapes', 'papaya', 'orange', 'cherry', 'apple'}

##Dictionaries

Dictionaries are collection of key-value pairs. They are unordered and mutable.

In [ ]:
st = {1,2}
dc = {"one":1, "two":2}

# Python dict can have any values, even duplicates.
# Python dict key has to be unique and immutable.

student = {
    'name': 'Alice',
    'age': 25,
    'course': ['Math', 'CompSci']
    }
print(student)

# Accessing dict values
print(student['name'])
print(student['age'])

# Adding or updating data dict values
student['phone'] = '469-469-4690'
student['age'] = 26
student['course'] = ['English']
print(student)

{'name': 'Alice', 'age': 25, 'course': ['Math', 'CompSci']}
Alice
25
{'name': 'Alice', 'age': 26, 'course': ['English'], 'phone': '469-469-4690'}

# 3. Python Control Flow and Loops

Covers:
- control flow statements
- loops in Python
- if, if-else, if-elif, if-elif-else, loops, nested loops, break and continue statements and functions

## If Statements
 The if statements are used to test a condition and execute a block of code if the condition is true

In [ ]:
a = 10
if a > 5:
 print(f'{a} is greater than 5')
 print(a>5)

10 is greater than 5
True

In [ ]:
x=15
if x>5:
  print("This is indented")
  y=x-10
  #print(f'y={y}')
  print(y)
print('Runs no matter what')

This is indented
5
Runs no matter what

In [ ]:
# if statement example
x = 115
if x > 5:
  print(f'{x} is greater than 5')
print("Done running")

115 is greater than 5
Done running

## If-Else Statement

The if-else statement is used to execute one block of code if the condition is true and another block of code if the condition is false

In [ ]:
#if else statement example
x=10
if x > 15:
  print(f'({x} is greater than 15')
else:
  print(f'{x} is not greater than 15')

10 is not greater than 15

# If-Elif Statement

The If-Elif condition is used to check multiple conditions. If the first condition is false then it checks the next condition and so on.

In [ ]:
# If-elif statement example
x = 10
if x > 15:
  print(f'{x} is greater than 15')
elif x > 5:
  print(f'{x} is greater than 5 but not greater than 15')

10 is greater than 5 but not greater than 15

## If-Elif-Else Statement

The if-elif-else statement is used to test multiple conditions and excute different blocks of code based on which condition is true

In [ ]:
# If-elif-else statement example
x = 4
if x > 15:
  print(f'{x} is greater than 15')
elif x > 10:
  print (f'{x} is greater than 10 but not greater than 15')
elif x > 5:
  print (f'{x} is greater than 5 but not greater than 10')
else:
  print (f'{x} is not greater than 5')

4 is not greater than 5

## Loops
Loops are used to execute a block of code multiple times. Python supports for and while loops.

### For loops

The for loop is used to iterate over a sequence (such as list, tuple or string)and execute block of code for each item in the sequence.

In [ ]:
# For loop example
fruits = {'apple', 'banana', 'orange'}
for fruit in fruits:
  print(fruit)

banana
apple
orange

## While Loops
The While loop is used to execute the block of code as long as a condition is true,

In [ ]:
# While loop example
count = 0
while count < 5:
  print (count)
  count += 1

0
1
2
3
4

## Nested Loops

Nested Loops are loops within Loops. The inner loop is executed for each iteration of outer loop.

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range (2,5):
  print(i)

2
3
4

In [ ]:
for i in range (2,5,2):
  print(i)

2
4

In [ ]:
# Nested loop example
for i in range(3):
  for j in range(2):
    print(f'i = {i}, j = {j}')

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1

In [ ]:
# Nested loop example
for i in range(3):
  for j in range(2):
    for k in range(3):
      print(f'i={i}, j={j}, k={k}')

i=0, j=0, k=0
i=0, j=0, k=1
i=0, j=0, k=2
i=0, j=1, k=0
i=0, j=1, k=1
i=0, j=1, k=2
i=1, j=0, k=0
i=1, j=0, k=1
i=1, j=0, k=2
i=1, j=1, k=0
i=1, j=1, k=1
i=1, j=1, k=2
i=2, j=0, k=0
i=2, j=0, k=1
i=2, j=0, k=2
i=2, j=1, k=0
i=2, j=1, k=1
i=2, j=1, k=2

## Break and Continue
Break statement is used to exit the loop prematurely, and continue statement is used to skip the current iteration and proceed to the next iteration.

In [ ]:
# Break statement
for i in range(5):
  if i == 3:
    break
  print(i)
print('-----------------')
for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
-----------------
0
1
2
4

## Functions

Functions are reusable blocks of code that perform a specific task. They are defined using def keyword.

In [ ]:
# Function example
def greet(name):
  return f'Hello,{name}!'

# Call the function
print(greet('Alice'))
print(greet('Bob'))

Hello,Alice!
Hello,Bob!

In [ ]:
def greet_family(father, mother, sister, brother):
  return f'Hello, {[father, mother, sister, brother]}'
print(greet_family("Tom", "Susan", "Riya", "Sam"))
print('-----')
print(greet_family(mother="Alice", father = "Ram", sister ="Shiny", brother = "surya"))
print(greet_family("one","two",sister="three",brother="four"))

Hello, ['Tom', 'Susan', 'Riya', 'Sam']
-----
Hello, ['Ram', 'Alice', 'Shiny', 'surya']
Hello, ['one', 'two', 'three', 'four']

# 4. Python_Advanced_Concepts

##  Lambda functions

In [ ]:
add = lambda x, y: x + y
print(add(2,3))
print('-----------')
square = lambda x:x**2
print(square(2))

5
-----------
4

In [ ]:
def apply_func2list(lst, fnc):
  for element in lst:
    print(fnc(element))
lst = [1,2,3]
apply_func2list(lst, lambda x: x**2)

1
4
9

In [ ]:
sub = lambda x, y: x-y
ans = sub(2,3)
print(ans)
ans = sub (2.5,3)
print(ans)

-1
-0.5

In [ ]:
def f(**args): #here args stores key value
  return 1

## Classes
Classes are used to define the blueprint for objects. They encapsulate data and functions that operate on the data. Here are some basic concepts of classes.

In [ ]:
# simple class example
class Dog:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def bark(self):
     return f'{self.name} says woof!'

  def bark_noObj(my_obj):
     return f'says woof!'

# creating as instance of Dog Class
#my_dog = Dog('Buddy',3)
my_dog = Dog('Buddy', 3)
print(my_dog.name)
print(my_dog.age)
print(my_dog.bark())
print(my_dog.bark_noObj())

print('-------------')
your_dog = Dog('Tom', 5)
print(your_dog.name)
print(your_dog.age)
print(your_dog.bark())
print(your_dog.bark_noObj())

Buddy
3
Buddy says woof!
says woof!
-------------
Tom
5
Tom says woof!
says woof!

## Using self in Classes

The self parameter is reference to the current instance of the class. It is used to access variables and methods associated with the class

The __init__ method is a sepcial method called constructor. It is invoked when a new instance of the class is created.

### Inheritance
Inheritance is a mechanism in which a new class inherits attributes and methods from an existing class.

super() function is used to call a method from parent class

In [ ]:
# Inheritance Example
class Animal:
  def __init__(self,name):
    self.name = name

  def eat(self):
     return f'{self.name} eats'

class Cat(Animal):
  def __init__(self, name, color):
     super().__init__(name)
     self.color = color

  def speak(self):
      return f'{self.name} speaks meow'

class Dog(Animal):
  isDog = True
  def __init__(self, name, color):
    super().__init__(name)
    Cat_comp = Cat('Tom','Brown')
    self.color = color

  def speak(self):
      return f'{self.name} speaks whoof'

  @staticmethod
  def wagTail():
    return f'Dog wags Tail'

my_cat = Cat('Whiskers','Grey')
print(my_cat.name)
print(my_cat.color)
print(my_cat.speak())
print(my_cat.eat())

print('-----------')
my_dog = Dog('Tom','Brown')
print(my_dog.name)
print(my_dog.color)
print(my_dog.speak())
print(my_dog.eat())
print(my_dog.wagTail())
print(my_dog.isDog)

Whiskers
Grey
Whiskers speaks meow
Whiskers eats
-----------
Tom
Brown
Tom speaks whoof
Tom eats
Dog wags Tail
True

## Compound Interest problem

In [ ]:
def compound_interest(principal, rate, time):
  """
  Args:
    principal (float): The princial amount
    rate (float): The interest rate
    time (int): The time period

  Returns:
     amount(float): The final amount
     compound_interest(float): The interest
"""
  amount = principal * ((1 + rate / 100)**time)
  compound_interest = amount - principal
  return round(compound_interest,2), round(amount,2)

"""
Example usage
principal = 1000
rate = 10
time = 2
compound_interest_calculated, final_amount = compound_interest(principal, rate, time)
print(f"The compound interest is: {compound_interest_calculated}")
print(f"The amount is: {final_amount}")
"""
compound_interest_earned, total_amount = compound_interest(2000, 20, 2)

print(f'{compound_interest_earned}, {total_amount}')

880.0, 2880.0

## Factorial problem

In [ ]:
def calc_factorial(n):
  """
   Args:
       n(int32):Factorial of number n
   Returns:
       int32: Factorial of non-negative integer
  """
  factorial = 1

  for i in range (1, n+1):
    factorial *= i

  return factorial

print(calc_factorial(9))

362880

## Reverse Digit

In [ ]:
## Reverse digit

def reversed_number(n):

  if n<0:
    sign = -1
  else:
    sign = 1

  reversed_str = str(abs(n))[::-1]
  reversed_num = int(reversed_str) * sign

  return reversed_num

print(reversed_number(-23))

-32

## Senior Citizen
You are given a 0-indexed array of strings p, containing information about a given passenger consists of their phone number (first 10 characters), gender (11th character), age (12th and 13th characters), and seat assignment (last two characters).

Return the number of passengers who are strictly more than 60 years old.

In [ ]:
def senior_passenger(str):

  count = 0
  for passenger in str:
    age = passenger [11:13]

    if int(age) > 60:
      count += 1
  return count

str = ["7823190130M7511", "6868346633F3422", "9921362780M5644", "9954362340M6707"]

print(senior_passenger(str))

2

##Divisible By K
Given a list of lists t containing integers, and a positive integer k, the task is to return a new list of lists containing only those sublists in which every element is divisible by k. The order of sublists in the resulting list should be the same as their original order in the input list.

In [ ]:
def multi_list(list,n):
  new_list = []
  for list in multi_list:
    for n in list:
      if n%k == 0:
        new_list.append(n)
  return new_list

  k=2
  multi_list = ([1,2,3],[4,5,6],[7,8,9])

print({new_list})

In [ ]:
def multi_list(list,k):
  new_list = []
  for sublist in list:
     for n in sublist:
        if n%k == 0:
          new_list.append(n)
     return new_list

print([new_list])

print([[1,2,3],[4,5,6],[7,8,9]],2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]] 2